.fc .fc-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-radius: 50% !important;
	overflow: hidden !important;
	border: none !important;
	padding: 0 0 !important;
	color: inherit !important;
}

.fc .fc-button:not(:hover) {
	background: transparent !important;
}
.fc .fc-button:hover,
.fc .fc-button:focus {
	background: transparent !important;
	box-shadow: none !important;
}

.fc .fc-button:focus {
	outline: auto !important;
}

.fc .fc-button:hover:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: currentColor;
	opacity: 0.15;
}
