/* Generic */
body {
	font-family: sans-serif;
	margin: 0;
	overflow-x: hidden;
}
li p {
	margin: 0.5rem 0;
}
.small {
	font-size: 0.75rem;
}
iframe {
	display: block;
}
a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
	outline: none;
}
.colors {
	box-sizing: border-box;
	transition: 0.25s;
	background: var(--color);
	color: var(--text_color);
	border: 1px solid var(--border_color);
}
.colors:hover {
	background: var(--hover_color, var(--color));
	color: var(--hover_text_color, var(--text_color));
	border: 1px solid var(--hover_border_color, var(--border_color));
}
.ratio-container {
	position: relative;
}
.ratio-container > * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Accordion.svelte */
details.accordion {
	transition: 0.25s;
}
details.accordion[open] {
	margin: 1rem 0;
}
details.accordion[open] summary .arrow {
	transform: rotate(180deg);
}
details.accordion summary {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	outline: none;
}
details.accordion summary:marker,
details.accordion summary::webkit-details-marker {
	display: none;
}
details.accordion summary * {
	pointer-events: none;
}
details.accordion summary .arrow {
	transition: 0.25s;
	position: absolute;
	height: 0;
	top: 50%;
	display: flex;
	align-items: center;
	fill: currentColor;
}
details.accordion summary > *:not(.arrow) {
	width: 100%;
}
details.accordion .accordion-content > .text *:first-child,
details.accordion summary > .text *:first-child {
	margin-top: 0;
}
details.accordion .accordion-content > .text *:last-child,
details.accordion summary > .text *:last-child {
	margin-bottom: 0;
}
details.accordion:not(:last-of-type):not([open]):not(.fix-bottom) {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
details.accordion:not([open]) + details.accordion {
	border-top-width: 0px !important;
}
details.accordion + details.accordion[open],
details.accordion[open] + details.accordion {
	border-top-width: 1px !important;
}
details.accordion:not([open]) + details.accordion:not([open]) {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

/* Button.svelte */
.button {
	position: relative;
	letter-spacing: 1px;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
}
.button svg {
	fill: currentColor;
	display: block;
	height: 1.5em;
	width: 1.5em;
}
.button.pad-icon svg {
	margin-right: 0.5rem;
}

/* Calendar.svelte */
.fc .fc-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-radius: 50% !important;
	overflow: hidden !important;
	border: none !important;
	padding: 0 0 !important;
	color: inherit !important;
}
.fc .fc-button:not(:hover) {
	background: transparent !important;
}
.fc .fc-button:hover,
.fc .fc-button:focus {
	background: transparent !important;
	box-shadow: none !important;
}
.fc .fc-button:focus {
	outline: auto !important;
}
.fc .fc-button:hover:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: currentColor;
	opacity: 0.15;
}

/* Card.svelte */
.card {
	position: relative;
	text-decoration: unset;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-sizing: border-box;
	transition: 0.25s;
}
.card.background .card-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.card .card-container {
	flex-grow: 1;
}
.card .card-container.row {
	display: flex;
	align-items: center;
}
.card .card-content .text *:first-child {
	margin-top: 0;
}
.card .card-content .text *:last-child {
	margin-bottom: 0;
}
.card .card-divider {
	height: 1px;
	background: currentColor;
	opacity: 0.2;
}
.card .card-actions {
	position: relative;
	border-width: 0;
	display: flex;
}

/* Grid.svelte */
.grid {
	display: grid;
}
@media (max-width: 640px) {
	.hide-xs {
		display: none;
	}
}
@media (min-width: 640px) and (max-width: 768px) {
	.hide-xs {
		display: block;
	}
	.hide-sm {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.hide-sm {
		display: block;
	}
	.hide-md {
		display: none;
	}
}
@media (min-width: 1024px) and (max-width: 1280px) {
	.hide-md {
		display: block;
	}
	.hide-lg {
		display: none;
	}
}
@media (min-width: 1280px) {
	.hide-lg {
		display: block;
	}
	.hide-xl {
		display: none;
	}
}

/* Image.svelte */
.image img {
	display: block;
}

/* Masonry.svelte */
.__grid--masonry {
	padding: 0 !important;
}

/* Slider.svelte */
.slider {
	position: relative;
	overflow: hidden;
}
.slider__slides {
	position: relative;
	display: flex;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
}
.slider__slides::-webkit-scrollbar {
	height: 0;
}
.slider__slide {
	scroll-snap-align: start;
}
.slider__controls {
	height: 0;
	position: absolute;
	top: 50%;
	left: 1em;
	width: calc(100% - 2em);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.slider__arrow {
	background: transparent;
	padding: 0;
	border: 0;
}
.slider__dots {
	position: absolute;
	bottom: 0.5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	filter: drop-shadow(0 1px 1px black);
}
.slider__dots button {
	border: none;
	background: none;
	padding: 0 0.25rem;
	color: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider__dots button svg {
	fill: currentColor;
}

/* Text.svelte */
.text {
	text-justify: inter-word;
}
code {
	tab-size: 2;
}

/* Global Components */

/* _layout.svelte */
.layout:not(.show-sidebar-on-desktop) {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	min-height: 100vh;
}
.layout:not(.show-sidebar-on-desktop) main {
	flex-grow: 1;
}
@media (max-width: 1024px) {
	.layout.show-sidebar-on-desktop .header .sidebar-button {
		display: flex !important;
	}
}
@media (min-width: 1024px) {
	.layout.show-sidebar-on-desktop {
		min-height: 100vh;
		display: grid;
		grid-template-columns: 300px 1fr;
		grid-template-rows: auto 1fr auto;
		gap: 0px 0px;
		grid-template-areas: 'sidebar header' 'sidebar content' 'sidebar footer';
	}
	.layout.show-sidebar-on-desktop.header-on-top {
		grid-template-areas: 'header header' 'sidebar content' 'sidebar footer';
	}
	.layout.show-sidebar-on-desktop .header-container {
		grid-area: header;
	}
	.layout.show-sidebar-on-desktop .sidebar-backdrop {
		display: none;
	}
	.layout.show-sidebar-on-desktop .sidebar {
		grid-area: sidebar;
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		transform: unset;
	}
	.layout.show-sidebar-on-desktop .content {
		grid-area: content;
	}
	.layout.show-sidebar-on-desktop .footer {
		grid-area: footer;
	}
}
.sidebar-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: 0.25s;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
}
.sidebar-backdrop.active {
	pointer-events: unset;
	opacity: 1;
}

/* header */
.header {
	display: flex;
	align-items: center;
	z-index: 10;
	border-width: 0 !important;
	border-bottom-width: 2px !important;
}
.header.sticky {
	position: sticky;
	top: 0;
}
.header .sidebar-button {
	border-radius: 50%;
	border: none;
	min-height: 40px;
	min-width: 40px;
	display: none;
	align-items: center;
	justify-content: center;
	background: transparent;
	color: currentColor;
}
.header .sidebar-button svg {
	fill: currentColor;
}
@media (max-width: 768px) {
	.header .sidebar-button {
		display: flex;
	}
}

/* sidebar */
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	transform: translate3d(-100%, 0, 0);
	transition: 0.25s;
	will-change: transform;
	z-index: 20;
	border-width: 0 !important;
	border-right-width: 1px !important;
	overflow-y: auto;
}
.sidebar.active {
	transform: translate3d(0, 0, 0);
}

/* StoryBlok UI */
.in-editor:after {
	content: 'xs';
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	color: white;
	font-size: 12px;
	z-index: 99999;
	background: #08b2af;
}
@media (min-width: 640px) {
	.in-editor:after {
		content: 'sm';
	}
}
@media (min-width: 768px) {
	.in-editor:after {
		content: 'md';
	}
}
@media (min-width: 1024px) {
	.in-editor:after {
		content: 'lg';
	}
}
@media (min-width: 1280px) {
	.in-editor:after {
		content: 'xl';
	}
}
.storyblok__tooltip {
	text-transform: initial !important;
	font-size: 0.66rem !important;
	padding: 0.33rem !important;
	top: -1px !important;
	right: -1px !important;
	left: unset !important;
	font-family: sans-serif !important;
}
.storyblok__overlay {
	border-width: 2px !important;
}
