/* Generic */
body {
	font-family: sans-serif;
	margin: 0;
	overflow-x: hidden;
}
li p {
	margin: 0.5rem 0;
}
.small {
	font-size: 0.75rem;
}
iframe {
	display: block;
}
button,
a.button,
a.card {
	cursor: pointer;
}
a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
	outline: none;
}
.colors {
	box-sizing: border-box;
	transition: 0.25s;
	background: var(--color);
	color: var(--text_color);
	border: 1px solid var(--border_color);
}
.colors:hover {
	background: var(--hover_color, var(--color));
	color: var(--hover_text_color, var(--text_color));
	border: 1px solid var(--hover_border_color, var(--border_color));
}
.ratio-container {
	position: relative;
}
.ratio-container > * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
@media (min-width: 640px) {
	.sm\:text-left {
		text-align: left;
	}
	.sm\:text-center {
		text-align: center;
	}
	.sm\:text-right {
		text-align: right;
	}
}
@media (min-width: 768px) {
	.md\:text-left {
		text-align: left;
	}
	.md\:text-center {
		text-align: center;
	}
	.md\:text-right {
		text-align: right;
	}
}
@media (min-width: 1024px) {
	.lg\:text-left {
		text-align: left;
	}
	.lg\:text-center {
		text-align: center;
	}
	.lg\:text-right {
		text-align: right;
	}
}
@media (min-width: 1280px) {
	.xl\:text-left {
		text-align: left;
	}
	.xl\:text-center {
		text-align: center;
	}
	.xl\:text-right {
		text-align: right;
	}
}

/* Accordion.svelte */
details.accordion {
	transition: 0.25s;
}
details.accordion[open] {
	margin: 1rem 0;
}
details.accordion[open] summary .arrow {
	transform: rotate(180deg);
}
details.accordion summary {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	outline: none;
}
details.accordion summary:marker,
details.accordion summary::-webkit-details-marker {
	display: none;
}
details.accordion summary * {
	pointer-events: none;
}
details.accordion summary .arrow {
	transition: 0.25s;
	position: absolute;
	height: 0;
	top: 50%;
	display: flex;
	align-items: center;
	fill: currentColor;
}
details.accordion summary > *:not(.arrow) {
	width: 100%;
}
details.accordion .accordion-content > .text *:first-child,
details.accordion summary > .text *:first-child {
	margin-top: 0;
}
details.accordion .accordion-content > .text *:last-child,
details.accordion summary > .text *:last-child {
	margin-bottom: 0;
}
details.accordion:not(:last-of-type):not([open]):not(.fix-bottom) {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
details.accordion:not([open]) + details.accordion {
	border-top-width: 0px !important;
}
details.accordion + details.accordion[open],
details.accordion[open] + details.accordion {
	border-top-width: 1px !important;
}
details.accordion:not([open]) + details.accordion:not([open]) {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

/* Button.svelte */
.button {
	position: relative;
	letter-spacing: 1px;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
}
.button svg {
	fill: currentColor;
	display: block;
	height: 1.5em;
	width: 1.5em;
}
.button.pad-icon svg {
	margin-right: 0.5rem;
}

/* Calendar.svelte */
.fc .fc-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-radius: 50% !important;
	overflow: hidden !important;
	border: none !important;
	padding: 0 0 !important;
	color: inherit !important;
}
.fc .fc-button:not(:hover) {
	background: transparent !important;
}
.fc .fc-button:hover,
.fc .fc-button:focus {
	background: transparent !important;
	box-shadow: none !important;
}
.fc .fc-button:focus {
	outline: auto !important;
}
.fc .fc-button:hover:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: currentColor;
	opacity: 0.15;
}

/* Card.svelte */
.card {
	position: relative;
	text-decoration: unset;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-sizing: border-box;
	transition: 0.25s;
}
.card.background .card-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.card .card-container {
	flex-grow: 1;
}
.card .card-container.row {
	display: flex;
	align-items: center;
}
.card .card-content .text *:first-child {
	margin-top: 0;
}
.card .card-content .text *:last-child {
	margin-bottom: 0;
}
.card .card-divider {
	height: 1px;
	background: currentColor;
	opacity: 0.2;
}
.card .card-actions {
	position: relative;
	border-width: 0;
	display: flex;
}

/* Form.svelte */
form button[type='submit'] {
	border: none;
	background: none;
	padding: 0;
}

/* FormField.svelte */
fieldset {
	position: relative;
	font-family: sans-serif;
	border-radius: 0.25rem;
	border: 1px solid var(--color-default);
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 1rem;
	margin-left: 0;
	margin-right: 0;
	padding: 0.75rem;
}
fieldset:not(.textarea) {
	align-items: center;
}
.helper fieldset {
	margin-bottom: 0;
}
fieldset svg {
	display: block;
}
fieldset .icon:not(:empty) {
	margin-left: -0.25rem;
	margin-right: 0.25rem;
}
fieldset .icon svg {
	fill: #333;
	transition: 0.25s;
}
fieldset legend {
	position: relative;
	transition: 0.25s;
	color: var(--color-default);
	font-size: 14px;
}
fieldset legend label {
	display: flex;
	align-items: center;
	height: 0;
	opacity: 1;
}
fieldset legend label svg {
	height: 1em;
	width: 1em;
}
fieldset legend label .valid {
	fill: green;
	margin-left: 0.25em;
	display: none;
}
fieldset legend label .invalid {
	fill: red;
	margin-right: 0.25em;
	display: none;
}
fieldset legend label .error-message {
	color: red;
	display: none;
}
fieldset .dynamic {
	background: transparent;
	width: 100%;
	border: none;
	box-sizing: border-box;
	font-size: 1rem;
	box-shadow: inset 0 0 0 100vw white;
}
fieldset .dynamic::placeholder {
	color: #333;
}
fieldset .dynamic:focus {
	outline: none;
}
fieldset .dynamic:focus ~ .icon svg {
	fill: var(--color-default);
}
fieldset .dynamic:focus::placeholder {
	opacity: 0;
}
fieldset .dynamic:focus ~ legend {
	padding: 0 0.25rem;
	width: auto;
	opacity: 1;
}
fieldset .dynamic:focus ~ legend label {
	opacity: 1;
}
fieldset .dynamic:not(:placeholder-shown) ~ legend {
	padding: 0 0.25rem;
}
fieldset .dynamic:not(:focus):placeholder-shown ~ legend {
	padding: 0;
	width: 0;
	opacity: 0;
}
fieldset .dynamic:not(:focus):placeholder-shown ~ legend label {
	opacity: 0;
}
fieldset .dynamic:not(select):valid:not(:placeholder-shown) ~ legend .valid {
	display: block;
}
fieldset
	.dynamic:not(select):invalid:not(:focus):not(:placeholder-shown)
	~ legend
	.invalid {
	display: block;
}
fieldset
	.dynamic:not(select):invalid:not(:focus):not(:placeholder-shown)
	~ legend
	.error-message {
	display: block;
}
fieldset
	.dynamic:not(select):invalid:not(:focus):not(:placeholder-shown)
	~ legend
	.label {
	display: none;
}
fieldset textarea {
	font: inherit;
	resize: none;
	margin-top: 2px;
}
fieldset select {
	margin-left: -2px;
	margin-bottom: -10px;
	padding-bottom: 10px;
	margin-right: -0.75rem;
}
fieldset input[type='file'] ~ legend .valid,
fieldset input[type='file'] ~ legend .invalid,
fieldset input[type='file'] ~ legend .error-message {
	display: none !important;
}
.option-label {
	margin-bottom: 0.5rem;
}
.option {
	display: flex;
	align-items: center;
}
.option input[type='checkbox'],
.option input[type='radio'] {
	margin-right: 0.5rem;
}
.option:not(:last-of-type) {
	margin-bottom: 0.5rem;
}

/* blatantly stolen */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	input[type='checkbox'],
	input[type='radio'] {
		color: inherit;
		--active-inner: #fff;
		--disabled: #f6f8ff;
		--disabled-inner: #e1e6f9;
		-webkit-appearance: none;
		-moz-appearance: none;
		height: 21px;
		outline: none;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0;
		cursor: pointer;
		border: 1px solid var(--bc, var(--color-default));
		background: var(--b, #fafafa);
		transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
	}
	input[type='checkbox']:after,
	input[type='radio']:after {
		content: '';
		display: block;
		left: 0;
		top: 0;
		position: absolute;
		transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
			opacity var(--d-o, 0.2s);
	}
	input[type='checkbox']:checked,
	input[type='radio']:checked {
		--b: var(--color-default);
		--bc: var(--color-default);
		--d-o: 0.3s;
		--d-t: 0.6s;
		--d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
	}
	input[type='checkbox']:disabled,
	input[type='radio']:disabled {
		--b: var(--disabled);
		cursor: not-allowed;
		opacity: 0.9;
	}
	input[type='checkbox']:disabled:checked,
	input[type='radio']:disabled:checked {
		--b: var(--disabled-inner);
		--bc: var(--color-default);
	}
	input[type='checkbox']:disabled + label,
	input[type='radio']:disabled + label {
		cursor: not-allowed;
	}
	input[type='checkbox']:hover:not(:checked):not(:disabled),
	input[type='radio']:hover:not(:checked):not(:disabled) {
		--bc: var(--color-default);
	}
	input[type='checkbox']:focus,
	input[type='radio']:focus {
		border: 1px solid var(--color-default);
		box-shadow: 0 0 0 1px var(--color-default);
	}
	input[type='checkbox']:not(.switch),
	input[type='radio']:not(.switch) {
		width: 21px;
	}
	input[type='checkbox']:not(.switch):after,
	input[type='radio']:not(.switch):after {
		opacity: var(--o, 0);
	}
	input[type='checkbox']:not(.switch):checked,
	input[type='radio']:not(.switch):checked {
		--o: 1;
	}
	input[type='checkbox'] + label,
	input[type='radio'] + label {
		font-size: 14px;
		line-height: 21px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		margin-left: 8px;
	}

	input[type='checkbox']:not(.switch) {
		border-radius: 4px;
	}
	input[type='checkbox']:not(.switch):after {
		width: 3px;
		height: 9px;
		border: 2px solid var(--active-inner);
		border-top: 0;
		border-left: 0;
		left: 7px;
		top: 3px;
		transform: rotate(var(--r, 20deg));
	}
	input[type='checkbox']:not(.switch):checked {
		--r: 45deg;
	}
	input[type='checkbox'].switch {
		width: 38px;
		border-radius: 11px;
	}
	input[type='checkbox'].switch:after {
		left: 2px;
		top: 2px;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		background: var(--ab, var(--color-default));
		transform: translateX(var(--x, 0));
	}
	input[type='checkbox'].switch:checked {
		--ab: var(--active-inner);
		--x: 17px;
	}
	input[type='checkbox'].switch:disabled:not(:checked):after {
		opacity: 0.6;
	}

	input[type='radio'] {
		border-radius: 50%;
	}
	input[type='radio']:after {
		width: 19px;
		height: 19px;
		border-radius: 50%;
		background: var(--active-inner);
		opacity: 0;
		transform: scale(var(--s, 0.7));
	}
	input[type='radio']:checked {
		--s: 0.5;
	}
}

/* Grid.svelte */
.grid {
	display: grid;
}
@media (max-width: 640px) {
	.hide-xs {
		display: none !important;
	}
}
@media (min-width: 640px) and (max-width: 768px) {
	.hide-xs {
		display: block;
	}
	.hide-sm {
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.hide-sm {
		display: block;
	}
	.hide-md {
		display: none !important;
	}
}
@media (min-width: 1024px) and (max-width: 1280px) {
	.hide-md {
		display: block;
	}
	.hide-lg {
		display: none !important;
	}
}
@media (min-width: 1280px) {
	.hide-lg {
		display: block;
	}
	.hide-xl {
		display: none !important;
	}
}

/* Image.svelte */
.image img {
	display: block;
}

/* Masonry.svelte */
.__grid--masonry {
	padding: 0 !important;
}

/* Slider.svelte */
.slider__wrapper {
	overflow: hidden;
}
.slider {
	position: relative;
	overflow: hidden;
}
.slider__slides {
	position: relative;
	display: flex;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
}
.slider__slides::-webkit-scrollbar {
	height: 0;
}
.slider__slide {
	scroll-snap-align: start;
}
.slider__controls {
	height: 0;
	position: absolute;
	top: 50%;
	left: 1em;
	width: calc(100% - 2em);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.slider__arrow {
	background: transparent;
	padding: 0;
	border: 0;
}
.slider__dots {
	position: absolute;
	bottom: 0.5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	filter: drop-shadow(0 1px 1px black);
}
.slider__dots button {
	border: none;
	background: none;
	padding: 0 0.25rem;
	color: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider__dots button svg {
	fill: currentColor;
}

/* Text.svelte */
.text {
	text-justify: inter-word;
}
.content .text {
	font-size: 16px;
}
@media screen and (min-width: 320px) {
	.content .text {
		font-size: calc(16px + 2 * ((100vw - 320px) / 680));
	}
}
@media screen and (min-width: 1000px) {
	.content .text {
		font-size: 18px;
	}
}
code {
	tab-size: 2;
}
.colors .text a {
	color: inherit;
}
.text img {
	max-width: 100%;
	height: auto;
}
.text .caption {
	display: block;
	position: relative;
	top: -1rem;
	margin-bottom: -1rem;
}
.text.line-clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.text .dot-leaders {
	display: flex;
	align-items: baseline;
}
.text .dot-leaders .dots {
	flex-grow: 1;
	border-bottom: 3px dotted currentColor;
	position: relative;
	margin: 0 0.25rem;
}
.text .credit {
	font-family: sans-serif;
	position: relative;
	display: inline-block;
	padding: 0 0.5rem;
	margin-left: 0.25rem;
	outline: 2px solid currentColor;
	text-decoration: none;
	text-transform: uppercase;
}
.text .credit:hover:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: currentColor;
	opacity: 0.2;
}

/* Global Components */

/* _layout.svelte */
.layout:not(.show-sidebar-on-desktop) {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	min-height: 100vh;
}
.layout:not(.show-sidebar-on-desktop) main {
	flex-grow: 1;
}
@media (max-width: 1024px) {
	.layout.show-sidebar-on-desktop .header .sidebar-button {
		display: flex !important;
	}
}
@media (min-width: 1024px) {
	.layout.show-sidebar-on-desktop {
		min-height: 100vh;
		display: grid;
		grid-template-columns: 300px 1fr;
		grid-template-rows: auto 1fr auto;
		gap: 0px 0px;
		grid-template-areas: 'sidebar header' 'sidebar content' 'sidebar footer';
	}
	.layout.show-sidebar-on-desktop.header-on-top {
		grid-template-areas: 'header header' 'sidebar content' 'sidebar footer';
	}
	.layout.show-sidebar-on-desktop .header-container {
		grid-area: header;
	}
	.layout.show-sidebar-on-desktop .sidebar-backdrop {
		display: none;
	}
	.layout.show-sidebar-on-desktop .sidebar {
		grid-area: sidebar;
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		transform: unset;
	}
	.layout.show-sidebar-on-desktop .content {
		grid-area: content;
	}
	.layout.show-sidebar-on-desktop .footer {
		grid-area: footer;
	}
}

/* header */
.header {
	display: flex;
	align-items: center;
	z-index: 10;
	border-width: 0 !important;
	border-bottom-width: 2px !important;
}
.header.sticky {
	position: sticky;
	top: 0;
}
.header .sidebar-button {
	border-radius: 50%;
	border: none;
	min-height: 40px;
	min-width: 40px;
	display: none;
	align-items: center;
	justify-content: center;
	background: transparent;
	color: currentColor;
}
.header .sidebar-button svg {
	fill: currentColor;
}
@media (max-width: 768px) {
	.header .sidebar-button {
		display: flex;
	}
}

/* sidebar backdrop */
.sidebar-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: 0.25s;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.5);
	z-index: 20;
	opacity: 0;
}
.sidebar-backdrop.active {
	pointer-events: unset;
	opacity: 1;
}

/* sidebar */
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	transform: translate3d(-100%, 0, 0);
	transition: 0.25s;
	will-change: transform;
	z-index: 20;
	border-width: 0 !important;
	border-right-width: 1px !important;
	overflow-y: auto;
}
.sidebar.active {
	transform: translate3d(0, 0, 0);
}

.content {
	margin-bottom: 1rem;
}

/* StoryBlok UI */
.in-editor:after {
	content: 'xs';
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	color: white;
	font-size: 12px;
	z-index: 99999;
	background: #08b2af;
}
@media (min-width: 640px) {
	.in-editor:after {
		content: 'sm';
	}
}
@media (min-width: 768px) {
	.in-editor:after {
		content: 'md';
	}
}
@media (min-width: 1024px) {
	.in-editor:after {
		content: 'lg';
	}
}
@media (min-width: 1280px) {
	.in-editor:after {
		content: 'xl';
	}
}
.storyblok__tooltip {
	text-transform: initial !important;
	font-size: 0.66rem !important;
	padding: 0.33rem !important;
	top: -1px !important;
	right: -1px !important;
	left: unset !important;
	font-family: sans-serif !important;
}
.storyblok__overlay {
	border-width: 2px !important;
}
